__pycache__
*.vscode*
userReg/
*db.sqlite3*
*DS_Store*
*.idea*
*initial.py*
.env
*venv*
*dummy_data.py*
*htmlcov*
*coverage*
!*__init__.py*
*_initial.py
*_auto_*
dump.rdb
.pytest_cache
venv/
loggers/
*dump.rdb*
