__pycache__
*.vscode*
userReg/
*db.sqlite3*
*DS_Store*
*.idea*
*initial.py*
.env
*venv*
*dummy_data.py*
*htmlcov*
*coverage*
.env
*coverage*
venv/
LMS/student/dummy_data.py
LMS/db.sqlite3
*htmlcov*
!*__init__.py*
*_initial.py
*_auto_*
*loggers*
dump.rdb