__pycache__
*.vscode*
userReg/
*db.sqlite3*
*DS_Store*
*.idea*
*initial.py*
*venv*
*dummy_data.py*
*htmlcov*
.env
*coverage*
venv/
LMS/student/dummy_data.py
!*__init__.py*
*_initial.py
*_auto_*
*loggers*
*dump.rdb*
*.coveragerc